.progress-bar-container {
    border-radius: 25px;
    height: 10px;
    width: 100%;
    display: flex;
}

.progress-bar-container .completed-bar,
.progress-bar-container .onhold-bar,
.progress-bar-container .todo-bar {
    height: 100%;
}

.progress-bar-container .completed-bar {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: red;
}

.progress-bar-container .onhold-bar {
    background-color: yellow;
}

.progress-bar-container .todo-bar {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: gray;
}