/* To do */
.to-do-item {
  background-color: var(--surface);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-radius: var(--border-radius);
  width: 380px;
  min-height: 30px;
}

input {
  all: unset;
  flex: 1;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.to-do-item .to-do-add-button {
  color: var(--on-surface);
}

.to-do-item.add-to-do {
  background-color: var(--add-todo-background);
}

.check-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  fill: var(--on-background);
}

.check-icon svg:hover {
  fill: var(--on-surface);
}
