#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.completed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* To do */
.to-do-item {
  background-color: var(--surface);
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: var(--border-radius);
  width: 380px;
  min-height: 30px;
}

.to-do-item .to-do-actions {
  display: flex;
  margin-left: 20px;
}

.to-do-item .to-do-actions .action-buttons {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-right: 8px;
}

.to-do-item .to-do-actions .action-buttons[disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}

.to-do-item .to-do-actions .reset-button {
  background-color: var(--red);
}

.to-do-item .to-do-actions .hold-button {
  background-color: var(--yellow);
}

.to-do-item .to-do-actions .complete-button {
  background-color: var(--green);
}

.to-do-item .to-do-input {
  background-color: transparent;
  border: 0px;
  font-size: inherit;
  font-family: inherit;
  resize: none;
  color: var(--on-surface);
}

.to-do-item .to-do-input:focus {
  outline: 0px;
}

.to-do-item .to-do-add-button {
  color: var(--on-surface);
}

.to-do-item.add-to-do {
  background-color: var(--add-todo-background);
}

/* Progress bar */
.progress-bar-container {
  border-radius: 25px;
  height: 10px;
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.progress-bar-container .completed-bar,
.progress-bar-container .onhold-bar,
.progress-bar-container .todo-bar {
  height: 100%;
}

.progress-bar-container > div:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.progress-bar-container > div:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.progress-bar-container .completed-bar {
  background-color: var(--green);
}

.progress-bar-container .onhold-bar {
  background-color: var(--yellow);
}

.progress-bar-container .todo-bar {
  background-color: var(--surface);
}

.text-editor {
  min-height: 24px;
  width: 100%;
  word-break: break-all;
}

.text-editor:focus-visible {
  outline: none;
}

.log-off-button-container {
  display: flex;
  justify-content: flex-end;
}

.log-off-button-container .log-off-button {
  color: var(--on-background);
  border: 2px solid var(--add-todo-background);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

.log-off-button-container .log-off-button:hover {
  background-color: var(--add-todo-background);
}

.log-in-form {
  width: 400px;
}

.log-in-form h1 {
  margin-bottom: 0px;
}

.log-in-form .log-in-subtitle {
  display: flex;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.log-in-form .log-in-subtitle button {
  color: var(--primary);
  font-weight: normal;
}

.log-in-form .log-in-subtitle button:hover {
  color: var(--on-background);
}

.log-in-form .log-in-input {
  background-color: var(--background);
  border: 0px;
  color: var(--on-background);
  padding: 5px;
  flex-grow: 1;
}

.log-in-form .log-in-input:focus-visible {
  outline: 0px;
  color: var(--on-background);
}

.log-in-form .log-in-submit {
  width: 100%;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: var(--on-primary);
  background-color: var(--primary);
  margin-top: 10px;
}

.log-in-form .log-in-submit:hover {
  background-color: var(--primary-hover);
  transition: background-color 0.1s ease;
}

.input-wrapper {
  border: 2px solid var(--add-todo-background);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.input-wrapper svg {
  fill: var(--on-background);
  margin-right: 3px;
}

.input-wrapper:has(input:focus-visible) {
  border-color: var(--surface);
}

.log-in-input:-webkit-autofill {
  -webkit-text-fill-color: var(--on-background);
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
}

.log-in-error {
  border: 2px solid var(--red-dark);
  border-radius: var(--border-radius);
  color: var(--red-light);
  padding: 8px 10px;
  margin-bottom: 5px;
}
