:root {
  --background: #1e1e1e;
  --surface: #3b3b3b;
  --add-todo-background: #2a2a2a;
  --primary: red;
  --secondary: blue;
  --on-background: #d3d3d3;
  --on-surface: #ffffff;
  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --green: #008000;
  --yellow: #999900;
  --red: #990000;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--background);
  color: var(--on-background);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
}
